<ul *ngFor="let user of listUsers; let i = index">
<div *ngIf="i > 1">
    <li>{{ user.id }}</li>
    <li>{{ user.name }}</li>
    <li>{{ user.color }}</li>
</div>
</ul>
<button mat-raised-button color="primary" (click)="eventButton($event)" [disabled]="!showText">Cliquer moi</button>
<div *ngIf="showText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, accusamus a quidem animi error itaque voluptas ipsam iste ut voluptate atque sapiente vel eius qui suscipit. Itaque voluptatem beatae explicabo?</div>